/*-------------------Menu de Navegação----------------------*/

#menu ul {
	padding:0px;
	margin:0px;
	background-color:#ffffff;
	list-style:none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
    
#menu ul li { display: inline; }

#menu ul li a {
	padding: 2px 19px;
	display: inline-block;

	/* visual do link */
	background-color:#ffffff;
	color: rgb(0, 0, 0);
	text-decoration: none;
	border-bottom:3px solid #ffffff;
    font-size: 25px;
    
}

#menu ul li a:hover {
	background-color:#D6D6D6;
	color: #000000;
	border-bottom:3px solid #0004ea;
}

/*-----------------------------------------------------*/

body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

p{
    font-size: 1.15rem;
    text-align: justify;
    line-height: 30px;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 8px;
}

.item1{
    margin: 40px;
    width: 30%;
}

#container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 8px;
}

.item2{
    margin: 40px;
    width: 30%;
}


.rodape{
    background-color: #C4C4C4;
    color: #000000;
    font-size: 15px;
    padding-left: 113px;
    padding-right: 113px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.lirod {
    display: inline-block;
}

.nottema{
    font-size: 25px;
    
    
}

#Titulonoticias{
margin-top: 10px; 
font-size: 55px; 
text-align: center; 
display: block; 
font-family: Libre Baskerville; 
text-decoration: underline;
}

#filtrapesq{
    width: 3%; 
    margin-left: 1278px; 
    display: block; 
    margin-top: 15px; 
    margin-bottom: 20px;
}

#Autor,#Data{
    color: #d1cece;
    line-height: 5px;

}